header {
  width: 100vw;
  max-height: 12rem;
  min-height: 8rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #fff;
  position: sticky;
  z-index: 999;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  .ant-drawer{
    width: 100%;
    top: 8rem;
    border: none;
  }
}
.header__menu{
  display: flex;
  align-items: start;
  justify-content: start;
  a{
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: #000;
    transition: all 0.3s ease-in-out;
    padding: 0 1.5rem;
    &:hover{
      transform: scale(1.1);
      color: red;
    }
  }
}
.header {
  width: 90%;
  margin: 0 auto;
  .ant-col:first-child {
    display: flex;
    align-items: center;
    justify-content: start;
  }
  .ant-row {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__search {
    display: flex;
    align-items: center;
    justify-content: center;
    input {
      width: 25rem;
    }
    input::placeholder {
      color: #000;
    }
    .icon {
      position: absolute;
      text-align: center;
      right: 18%;
      padding: 2px 18px 2px 18px;
      background: #000;
      border-radius: 1rem;
      color: var(--color-one);
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        background: var(--background-two);
        color: #000;
        scale: 1.1;
      }
    }
  }
  &__right {
    display: flex;
    align-items: center;
    justify-content: end;
    .ant-select {
      margin-right: 1.5rem;
    }
    .loginNoActive {
      button:nth-child(1) {
        margin-left: 1.5rem;
      }
    }
  }
  &__login {
    display: flex;
    align-items: center;
    justify-content: end;
    .user {
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        margin-left: 0.5rem;
      }
    }
    .loginActive {
      margin: 0 1.5rem 0 1rem;
    }
  }
}
.icon {
  font-size: 1.8rem;
  cursor: pointer;
  transition: transform 0.3s, color 0.3s;
  &:hover {
    transform: scale(1.1);
    color: aqua;
  }
}
button {
  span {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .header__login {
    display: none;
  }
  .header__right {
    display: flex;
    align-items: center;
    justify-content: end;
    .icon-menu {
      margin-right: 1.5rem;
    }
    .ant-drawer {
      .header__login {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
    }
  }
}
