@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "normalize.css";

:root {
  --color-one: #fff;
  --color-two: #000;
  --background-one: #f5f5f5ea;
  --background-two: #08ecfd;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto", serif;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: var(--background-one);
  color: var(--color-two);
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
button {
  color: var(--color-one) !important;
  background: #000 !important;
  transition: all 0.3s;
  position: relative;
}
button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  border-radius: 5px;
  background-image: conic-gradient(
    from var(--angle),
    transparent 50%,
    red,
    blue,
    green
  );
  animation: spin 1s linear infinite;
  z-index: -1;
}
@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}
